.container{
    height: auto;
    margin-bottom: 20px;
}
.tabscontainer {
    width: 100%; /* Adjust the width as needed */
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .tabs {
    display: flex;
  }
  
  .tab {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #1d1836;
    border-radius: 5px 5px 0 0;
    transition: background-color  0.3s;
    width: 100%;
  }
  
  
  .tab:hover {
    background-color: #eee;
    color: #1d1836;
  }
  
  .tabcontent {
    border: 2px solid #915eff;
    border-radius: 0 0 5px 5px;
    padding: 10px;
  }